body {
  background: rgb(159, 166, 228);
}

h1 {
  color: rgb(68, 13, 56);
  text-align: center;
  font-size: 50px
}

h2 {
  color: rgb(71, 66, 66);
  text-align: center;
  font-size: 40px
}

h3 {
  color: rgb(2, 2, 2);
  text-align: center;
  font-size: 30px
}


.button-yellow {
  background-color: rgb(202, 216, 7);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-align: center;
  font-size: 30px 
}

.button-red {
  background-color: rgb(122, 3, 3); 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 25px
}

.button-green {
  background-color: green;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 20px
}

.button-orangered {
  background-color: orangered; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 18px
}